<!DOCTYPE html>
<html>
  <head>
    <title>MeshWW Socket.IO Interface</title>
    <link rel="stylesheet" href="/css/toggle.css">
  </head>
  <body>
  <div id="main-wrapper">
    <div>
      <h1>Main Focus</h1>
      <div id="main-focus"></div>
    </div>
    <div class="logo"></div>
    <div class="chat">
      <h1>Stream Timeline</h1>    
      <ul id="messages"></ul>
      <form id="form" action="">
        <input id="message-input" autocomplete="off" /><button id="send">Send</button>
      </form>
    </div>

    <div class="stats-wrapper">
      <div>Real Time block</div>
      <div>Attendies:"Count here"</div>
      <div>Group Contacts</div>
    </div>
    <div class="tabs">
      <div class="tab-item tab-item-1">Ask a questions</div>
    </div>
    <div class="control-wrapper">
      <div class="admin-panel">Admin Panel</div>
      <div class="control-item qa"> 
        <div>Ask a question</div>
        <label id="control-qa" class="switch">
          <input id="control-qa-input" type="checkbox" onclick="qaInput()">
          <span class="slider round"> </span>
        </label>
      </div>
    </div>
</div>
    <script src="/socket.io/socket.io.js"> </script>
    <script src="/js/ws-interface.js"> </script>
  </body>
</html>